<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/estilo.css">
    <title>Times</title>
</head>
<body>

    <h1 class="title">{{ Banana }}</h1>
    <div class="card">
        <img src="/static/santos.png">
    </div>
    <div class="card">
        <img src="/static/saopaulo.svg">
    </div>
    <div class="card">
        <img src="/static/palmeiras.png">
    </div>
    <div class="card">
        <img src="/static/corinthians.png">
    </div>
    <div>
    <a class="title" href="/">Voltar à Página Inicial</a>
    </div>
</body>
</html>
